/* Card principal */
.convert-card {
    background-color: var(--color-fundo);
    border-color: var(--color-box);
}

/* Cabeçalho do card */
.convert-header {
    background-color: var(--color-box);
    color: var(--color-texto);
}

/* Corpo do card */
.convert-body {
    background-color: var(--color-fundo);
}
.convert-btn {
    background-color: var(--color-button-service) !important;
    color: var(--color-button-service-text) !important;
}
.convert-btn:hover {
    background: #13b172;
    color: white;
    transform: translateY(-2px) scale(1.04);
    box-shadow:none;
    outline: none;
}