body {
    background-color: var(--color-background);
    color: var(--color-texto);
    font-family: Arial, sans-serif;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85vh;
}

#titulo {
    color: var(--color-navtext);
    font-size: 40px;
    margin-top: 20px;
}

#porta {
    width: 22%;
    background-color: var(--color-background);
    color: var(--color-texto);
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-bottom: 2px solid var(--color-box-border);
}

.botaoEnviar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.botaoEnviar>b>button{
    background-color: var(--color-button-service);
    color: var(--color-button-service-text);
    border: none;
    padding: 5px 20px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
}

label {
    font-family: monospace;
}

input[type=text], input[type=number] {
    background-color: var(--color-background);
    color: var(--color-texto);
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid var(--color-box-border);
    box-shadow: none;
    outline: none;
}

.status > .preStatus{
    display: inline;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.rota{
    font-family: Arial;
    font-size: 15px;
    list-style-type: none;
    color: var(--color-texto);
    width: 100%;
    border: none;
}

.statusPorta {
    min-width: 120px; 
    padding: 8px; 
    border-radius: 8px; 
    background: var(--color-background-results); 
    margin-bottom: 8px;
}

.statusPortaStr{
    color: var(--color-navtext); 
    font-weight: bold;
}