@import "var.css";

body, ul, li, p{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family: monospace;
    font-size: 1.2rem;
    color: var(--color-texto);
}

body{
    background: none;
}

a{
    text-decoration: none;
    --color: var(--color-texto);
}

h1{
    text-align: center;
}

.menuBar a:hover, .menuTitle h1:hover, .toggle-button:hover, .sidebar a:hover {
    color:var(--color-hover);
    fill:var(--color-hover); 
}

.header{
    display: flex;
    flex-wrap: row;
    align-items: center;
    height: 10vh;
    width: 100vw;
    background: var(--color-navbar);
}

.menuBar{
    display: flex;
}

.menuBar li{
    display: block;
    padding: 10px;
    color: var(--color-texto);
}

.menuTitle {
    position: relative;
    display: flex;
    width: 100%;
    margin-right: 100px;
}

.menuTitle h1{
    width: 100%;
    color: var(--color-navtext);
    font-size: 40px;
}

.toggle-button {
    border: none;
    padding: 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    fill:var(--color-navtext);
}

.sidebar {
    width: 0;
    margin-top: 0;
    position: absolute;
    height: calc(100% - 96px);
    background: var(--color-sidebar);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    transition: width 0.3s ease;
    overflow: hidden;
}

.sidebar.expanded {
    width: 150px;
}
.sidebar li{
    width: 100%;
    margin-top: 35px;
    background-color: var(--color-sidebar); 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.sidebar a {
    width: 100%;
    margin-left: 20px;
    background-color: var(--color-sidebar); 
    cursor: pointer;
    justify-content: start;
    display: flex;
    flex-direction: row;
    transition: all 0.3s ease;
    fill:var(--color-sidebar-itens);
    color:var(--color-sidebar-itens);
}

.sidebar label{
    height: 100%;
    cursor: pointer;
    margin: 5px 10px;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.container{
    display: flex;
    margin-left: 0px;
    margin-top: 0;
    height: 100%;
    --background: var(--color-sidebar);
    --transition: width 1s ease;
    overflow: hidden;
}

.container.expanded{
    width: calc(100% - 150px);
    margin-left: 150px;
}