@media (max-width: 602px) {

.containerStatus {
    gap: 5px;
}

.status {
    width: 80%;
    min-width: 210px;
    margin-bottoms: 3px;
}

.containerRota {
    flex-direction: none;
    flex-wrap: wrap;
    text-align: left;
    align-items: center;
    width: 100%;
}

.rota{
    width: 80%;
    min-width: 210px;
    height: 40px;
    margin-bottom: 8px;
}
}