body {
    background: var(--color-background-gradient);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: calc(100% - 100px);
    width: calc(100%);
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.container {
    margin-top: 35px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.disableBoxResult {
    display: none;
}

.box,
.boxResult {
    display: block;
    background-color: var(--color-box);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    border-radius: 20px;
    border: 2px solid var(--color-box-border);
    margin-top: 10px;
    margin-bottom: 15px;
    width: 45%;
    box-sizing: border-box;
}

@media (max-width: 900px) {

    .box,
    .boxResult {
        width: 60%;
    }
}

@media (max-width: 600px) {

    .box,
    .boxResult {
        width: 95%;
    }
}

.preStatus {
    margin: 0;
}

.box form {
    height: 80%;
    width: 90%;
    margin: 0 auto;
}

.userRota {
    font-family: var(--font-global-rota);
    text-align: center;
}

.box label {
    font-family: var(--font-global-text);
    text-align: left;
}

.box input {
    display: block;
    -webkit-appearance: none;
    appearance: none;
    font-family: var(--font-global-text);
    align-items: center;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: transparent;
    color: var(--color-texto);
    border-bottom: 2px solid var(--color-box-border);
}

.containerEnviar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.botaoEnviar {
    background-color: var(--color-button-service);
    color: var(--color-button-service-text);
    border: none;
    padding: 5px 20px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.6s, transform 0.2s, box-shadow 0.3s;
    letter-spacing: 0.5px;
}

.botaoEnviar:hover{
    background-color: #13b172;
    color: #fff;
    transform: translateY(-2px) scale(1.04);
    box-shadow: none;
    outline: none;
}

.containerStatus {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.status,
.rota {
    font-family: var(--font-global-rota);
    padding: 10px;
    border-radius: 8px;
    background: var(--color-background-results);
}

.status {
    min-width: 215px;
    max-width: 300px;
    height: 25px;
    margin-bottom: 5px;
}

.statusPorta {
    color: var(--color-results-text);
    font-weight: bold;
}

.containerRota {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
}

.rota {
    font-size: 15px;
    list-style-type: none;
    color: var(--color-results-text);
    border: none;
    width: 80%;
    min-width: 210px;
    height: 25px;
    margin-bottom: 8px;
}

.resultColor {
    color: var(--color-results-retorno);
}

.resultColorOpen {
    color: var(--color-results-open);
}

.resultColorClose {
    color: var(--color-results-close);
}

.resultColorInvalid {
    color: var(--color-results-invalid);
}