body {
	background: var(--color-background-gradient);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: calc(100% - 100px);
    width: calc(100%);
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.container {
    margin-top: 50px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.disableBoxResult{
    display: none;
}

.box, .boxResult{
    display: block;
    background-color: var(--color-box);
    backdrop-filter: blur(50px);
    border-radius: 20px;
    border: 2px solid var(--color-box-border);
    height: max-content;
    max-height: max-content;
    min-height: max-content;
    width: 80%;
    max-width: max-content;
    min-width: 400px;
    justify-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.preStatus{
    margin: 0;
}

.box form {
    height: 80%;
    width: 90%;
}

.userRota {
    font-family: var(--font-global-rota);
    text-align: center;
}

.box label {
    font-family: var(--font-global-text);
    text-align: left;
}

.box input {
    font-family: var(--font-global-text);
    text-align: left;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: transparent;
    color: var(--color-texto);
    border-bottom: 2px solid var(--color-box-border);
}

.containerEnviar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.botaoEnviar {
    background-color: var(--color-button-service);
    color: var(--color-button-service-text);
    border: none;
    padding: 5px 20px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
}

.containerStatus {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.status, .rota{
    font-family: var(--font-global-rota);
    padding: 10px; 
    border-radius: 8px; 
    background: var(--color-background-results); 
}

.status {
    width: 210px;
    height: 25px;
    margin-bottom: 5px;
}

.statusPorta{
    color: var(--color-results-text); 
    font-weight: bold;
}

.containerRota {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: left;
}

.rota{
    font-size: 15px;
    list-style-type: none;
    color: var(--color-results-text);
    border: none;
    width: 450px;
    height: 20px;
    margin-bottom: 10px;
}

.resultColor {
    color: var(--color-results-retorno);
}

.resultColorOpen{
    color: var(--color-results-open);
}

.resultColorClose{
    color: var(--color-results-close);
}

.resultColorInvalid{
    color: var(--color-results-invalid);
}