:root {
    --color-navbar: #0d1a2e;
    --color-navtext: #ffffff;
    --color-sidebar: #23272e;
    --color-sidebar-itens: #e0e0e0;
    --color-hover: black;
    --color-background: #10131a;
    --color-background-gradient: linear-gradient(-15deg, #232526 0%, #181c22 100%);
    --gradient: (-45deg, #232526, #181c22, #004F6D);
    --color-box: #23272e;
    --color-box-border: #31343b;
    --color-texto: #e0e0e0;
    --color-button-service: #222b36;
    --color-button-service-text: white;
    --color-background-results: #23272e;
    --color-results-text: #e0e0e0;
    --color-results-retorno: #FC8607;
    --color-results-open: #39FF14;
    --color-results-close: #FF0000;
    --color-results-invalid: #FC8607;
    --font-global-rota: monospace;
    --font-global-text: monospace;
}