:root {
    --color-navbar: #17d186;
    --color-navtext: black;
    --color-sidebar: linear-gradient(-15deg, #17d186 ,#17d1877c);
    --color-sidebar-itens: black;
    --color-hover: white;
    --color-background: rgba(38, 50, 56, 0.95);
    --color-background-gradient: linear-gradient(-15deg, #232526 0%, #204d3b 100%);
    --gradient: (-45deg, #232526, #181c22, #004F6D);
    --color-box: #263238;
    --color-box-border: #cfcfcf;
    --color-texto: #e0e0e0;
    --color-button-service: #31704a;
    --color-button-service-text: white;
    --color-background-results: #23272e;
    --color-results-text: #e0e0e0;
    --color-results-retorno: #FC8607;
    --color-results-open: #39FF14;
    --color-results-close: #FF0000;
    --color-results-invalid: #FC8607;
    --font-global-rota: monospace;
    --font-global-text: monospace;
}