{% extends "index.html" %}

{% block title %}DevTools-Sup{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/model-test.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/mobile_model-test.css') }}">
{% endblock %}

{% block page %}Combo Multiportas{% endblock %}

{% block body %}

<div class="container">
    <section class="box">
        <form action="/combo" method="post">
            <h2 class="userRota" id="MeuIp">Seu Ip: {{meuIp}}</h2>
            <label for="ip">Servidor</label>
            <input type="text" id="ip" name="ip" value="{{ip}}" required>
            <br></br>
            <label for="portas">Portas</label>
            <input type="text" pattern="^\d{1,5}(,\d{1,5})*$" id="portas" value="{{portas}}" name="portas" required>
            <div class="containerEnviar">
                <b><button class="botaoEnviar" id="botaoEnviar" >Testar</button></b>
            </div>
        </form>
    </section>
    <section class="{{css}} disableBoxResult">
        {% if statusIp %}
    
            <div class="containerStatus">
                <h3>{{statusIp}}</h3>
            </div>
    
        {% elif statusP and colorP %}
            <div class="containerStatus">
            
                {% for i in range(0, portaP|length) %}
                    {% set porta = portaP[i] %}
                    {% set status = statusP[i] %}
                    {% set color = colorP[i] %}
                    <div class="status">
                        <span class="statusPorta">Porta {{porta}}:</span>
                        <span class="statusPorta" style="color:{{color}};">{{status}}</span>
                    </div>
                {% endfor %}
            </div>
            <div class="containerRota">
                {% if ip2 and ip2 not in ip %}
                    {% for i in range(0, statusRota|length) %}
                        {% set rota = statusRota[i] %}
                        <div class="rota">
                            <span>{{i+1}}° Rota: </span>
                            <span style="color: var(--color-hover);"">{{ rota }}</span>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>    
    
    
        {% endif %}
    </section>

</div>

{% endblock %}