{% extends "index.html" %}

{% block title %}DevTools-Sup{% endblock %}

{% block css %}
<link rel="stylesheet" href="/Estilizacao/TesteP.css">
{% endblock %}

{% block page %}Teste DNS{% endblock %}

{% block body %}
<div class="container">
    <form action="/dns" method="post">

        <label for="dns">DNS:</label>
        <input type="text" id="dns" name="dns" value="{{dns}}" placeholder="exemplo.com">
        <br></br>
        <div class="botaoEnviar">
            <b><button>Testar</button></b>
        </div>
    </form>

    <div class="status">
        {% for rota in status %}
            <pre class="preStatus">{{rota}}</pre>
        {% endfor %}
    </div>
    <h3>{{tipo}}</h3>
</div>
{% endblock %}