{% extends "index.html" %}

{% block title %}DevTools-Sup{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/model-test.css') }}">
{% endblock %}

{% block page %}Teste DNS{% endblock %}

{% block body %}
<div class="container">
    <section class="box">
        <form action="/dns" method="post">
            <br></br>
            <label for="dns">DNS:</label>
            <input type="text" id="dns" name="dns" value="{{dns}}" placeholder="exemplo.com">
            <br></br>
            <div class="containerEnviar">
                <b><button class="botaoEnviar">Testar</button></b>
            </div>
            <br></br>
        </form>
        {%if status %}
        <div class="containerStatus">
            {% for linha in status %}
                <pre class="preStatus">{{linha}}</pre>
            {% endfor %}
        </div>
        {% endif %}
    </section>
</div>
{% endblock %}