{% extends "index.html" %}

{% block title %}DevTools-Sup{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dns.css') }}">
{% endblock %}

{% block page %}Teste DNS{% endblock %}

{% block body %}
<div class="container">
    <form action="/dns" method="post">

        <label for="dns">DNS:</label>
        <input type="text" id="dns" name="dns" value="{{dns}}" placeholder="exemplo.com">
        <br></br>
        <div class="botaoEnviar">
            <b><button>Testar</button></b>
        </div>
        <br></br>
    </form>

    <div class="status">
            <pre class="preStatus">{{status}}</pre>
    </div>
</div>
{% endblock %}