<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevTools-Sup</title>
    <link rel="stylesheet" href="/Estilizacao/Entrada.css">
</head>
<body>
    <h1>Bem vindo ao DevTools-Sup</h1> 
    <div>
        <div class="Entrada">
            <button>
                <b>
                    <a style="color: #000000; text-decoration: none;" href="/porta">Teste De Porta</a>
                </b>
            </button>
        </div>
    </div>
</body>
</html>