<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevTools-Sup</title>
    <link rel="stylesheet" href="/Estilizacao/Entrada.css">
</head>

<body>
    <h1>DevTools-Sup</h1>
    <div class="Entrada">
        <div class="TestePorta">
            <a href="/porta">
                <button>
                    Teste Porta
                </button>
            </a>
        </div>
        <div class="Dns">
            <a href="/dns">
                <button>
                    Teste DNS
                </button>
            </a>
        </div>
        <div class="Combo">
            <a href="/combo">
                <button>
                    Teste Combo
                </button>
            </a>
        </div>

    </div>
</body>

</html>