<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevTools-Sup</title>
    <link rel="stylesheet" href="/Estilizacao/Entrada.css">
</head>

<body>
    <h1>Bem vindo ao DevTools-Sup</h1>
    <div class="Entrada">
        <div class="TestePorta">
            <button onclick="window.location.href='/porta'" style="color: #000000; border: none; ">
                Teste Porta
            </button>
        </div>
        <div class="Dns">
            <button onclick="window.location.href='/dns'" style="color: #000000; border: none; ">
                Teste DNS
            </button>
        </div>

    </div>
</body>

</html>