{% extends "index.html" %}

{% block title %}DevTools-Sup{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">
{% endblock %}

{% block page %}DevTools-Sup{% endblock %}

{% block body %}

<div class="homepage">
    <div>
        <a href="/porta"><button class="service">Teste Porta</button></a>
    </div>
    <div>
        <a href="/dns"><button class="service">Teste DNS</button></a>
    </div>
    <div>
        <a href="/combo"><button class="service">Teste Combo</button></a>
    </div>
    <div>
        <a href="/diff"><button class="service">Diff</button></a>
    </div>
</div>

{% endblock %}