<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='svg/app-icon.svg') }}">
    <link id="cssTema" class="0" rel="stylesheet" href="{{ url_for('static', filename='css/var.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index-menu-bar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mobile_index-menu-bar.css') }}">
    {% block css %}{% endblock %}
</head>

<body>
    <header class="header">
        <ul class="menuBar">
            <li>
                <a class="toggle-button" id="toggleSidebar">{% include "svgCustom/menu-toggle.html" %}</a>
            </li>
        </ul>
        <div class="menuTitle">
            <h1>{% block page %}{% endblock %}</h1>
        </div>
        <ul class="menuBar">
            <li>
                <a class="tema-button" id="temaButton">{% include "svgCustom/menu-tema.html" %}</a>
            </li>
        </ul>
    </header>
    <div class="sidebar" id="sidebar">
       
        <li>
            {% set current_path = request.path %}
        {% if current_path != '/' %}
            <a href="/">{% include "svgCustom/menu-home.html" %}<label>Home</label></a>
        {% endif %}
        {% if current_path != '/dns' %}
            <a href="/dns">{% include "svgCustom/menu-dns.html" %}<label>Dns</label></a>
        {% endif %}
        {% if current_path != '/combo' %}
            <a href="/combo">{% include "svgCustom/menu-combo.html" %}<label>Combo</label></a>
        {% endif %}
        {% if current_path != '/diff' %}
            <a href="/diff">{% include "svgCustom/menu-diff.html" %}<label>Diff</label></a>
        {% endif %}
        {% if current_path != '/convert' %}
            <a href="/convert">{% include "svgCustom/menu-convert.html" %}<label>Arquivo</label></a>
        {% endif %}
        </li>
       
    </div>
    <section class="container" id="container">
    {% block body %}
    
    {% endblock %}
    </section>
</body>

<script>
const toggleSidebar = document.getElementById('toggleSidebar');
const temaButton = document.getElementById('temaButton');
const temaAtual = document.getElementById('cssTema');
const temaSalvo = localStorage.getItem('tema');

toggleSidebar.addEventListener('click', () => {
            sidebar.classList.toggle('expanded');
            container.classList.toggle('expanded');
        });

temaButton.addEventListener('click', () => {
            if (temaAtual.classList.contains('0')) {
                document.getElementById("cssTema").href = "{{ url_for('static', filename='css/var-tema-moderno.css') }}";
                document.getElementById("cssTema").className = "1";
                localStorage.setItem('tema', temaAtual.href);
            } 
            else if (temaAtual.classList.contains('1')) {
                document.getElementById("cssTema").href = "{{ url_for('static', filename='css/var.css') }}";
                document.getElementById("cssTema").className = "0";
                localStorage.setItem('tema', temaAtual.href);
            };
        });

if (temaSalvo) {
    temaAtual.href = temaSalvo;
    temaAtual.className = temaSalvo.includes('var-tema-moderno') ? "1" : "0";
}

</script>
</html>