<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='svg/app-icon.svg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index-menu-bar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mobile_index-menu-bar.css') }}">
    {% block css %}{% endblock %}
</head>

<body>
    <header class="header">
        <ul class="menuBar">
            <li>
                <a class="toggle-button" id="toggleSidebar">{% include "svgCustom/menu-toggle.html" %}</a>
            </li>
        </ul>
        <div class="menuTitle">
            <h1>{% block page %}{% endblock %}</h1>
        </div>
    </header>
    <div class="sidebar" id="sidebar">
        <li>
            <a href="/">{% include "svgCustom/menu-home.html" %}<label>Home</label></a>
            <a href="/dns">{% include "svgCustom/menu-dns.html" %}<label>Dns</label></a>
            <a href="/porta">{% include "svgCustom/menu-porta.html" %}<label>Porta</label></a>
            <a href="/combo">{% include "svgCustom/menu-combo.html" %}<label>Combo</label></a>
        </li>
    </div>
    <section class="container" id="container">
    {% block body %}
    
    {% endblock %}
    </section>
</body>

<script>
const toggleSidebar = document.getElementById('toggleSidebar');

toggleSidebar.addEventListener('click', () => {
            sidebar.classList.toggle('expanded');
            container.classList.toggle('expanded');
			main.classList.toggle('expanded');
        });
</script>
</html>