<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LILO</title>
</head>
<body>
    <h1>Teste de Portas</h1>

    <h3 id="MeuIp" >Seu Ip: {{meuIp}}</h3>
    <form action="/porta" method="post">
        <label for="ip">Ip:</label>
        <input type="text" id="ip" name="ip" value="{{meuIp}}" style="opacity: 50%;" required>

        <label for="porta">Porta:</label>
        <input type="number" id="porta" name="porta" required>

        <input type="submit" value="Enviar">    
    </form>

</body>
</html>