<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/Estilizacao/TesteP.css">
</head>
<body>

    <div class="container">

        <h1 id="titulo">Teste de Portas</h1>
        
        <h2 id="MeuIp" >Seu Ip: {{meuIp}}</h2>
        <form action="/porta" method="post">
            <label for="ip">Servidor: </label>
            <input type="text" id="ip" name="ip" style=" color: black;" value="{{ip}}" required>
            <br></br>
            <div class="porta">
                <label for="porta">Porta:</label>
                <input max="65535" min="0" type="number" id="porta" value="{{porta}}" style=" color: black;" name="porta" required>
            </div>
            <br></br>
            <div class="botaoEnviar">
                <b><button>Testar</button></b>
            </div>
            <br></br>
            {% if status and color %}
            <div class="status">
                <h3>Porta: <b>{{porta}}</b> <span style="color:{{ color }};">{{status}}</span> para o Servidor: <b>{{ip}}</b></h3>
            </div>
            {% elif status %}
            <div class="status">
                <h3>{{status}}</h3>
            </div>
            {% endif  %}
        </form>
    </div>
        
</body>
</html>