<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevTools-Sup</title>
    <link rel="stylesheet" href="/Estilizacao/TesteP.css">
</head>
<body>

    <div class="container">
        <h1 style="font-size: 40px;" id="titulo">Teste de Portas</h1>
        
        <form action="/porta" method="post">
            <h2 id="MeuIp" >Seu Ip: {{meuIp}}</h2>
            <label for="ip">Servidor</label>
            <input type="text" id="ip" name="ip" value="{{ip}}" required>
            <br></br>
            <div class="porta">
                <label for="porta">Porta</label>
                <input max="65535" min="0" type="number" id="porta" value="{{porta}}"  name="porta" required>
            </div>
            <br></br>
            <div class="botaoEnviar">
                <b><button>Testar</button></b>
            </div>
            <br></br>
            {% if status and color %}
            <div class="status">
                <h3>Porta: <b>{{porta}}</b> <span style="color:{{ color }};">{{status}}</span> para o Servidor: <b>{{ip}}</b></h3>
                {% if ip2 not in ip %}
                <h3><b>{{ip2}}</b></h3>
                {% endif %}
            </div>
            {% elif status %}
            <div class="status">
                <h3>{{status}}</h3>
            </div>
            {% endif  %}
        </form>
    </div>
        
</body>
</html>