{% extends "index.html" %}

{% block title %}DevTools-Sup{% endblock %}

{% block css %}
<link rel="stylesheet" href="/Estilizacao/TesteP.css">
{% endblock %}

{% block body %}

    <div class="container">

        <form action="/combo" method="post">
            <h2 id="MeuIp">Seu Ip: {{meuIp}}</h2>
            <label for="ip">Servidor</label>
            <input type="text" id="ip" name="ip" value="{{ip}}" required>
            <br></br>
            <div class="porta">
                <label for="porta1">1° Porta</label>
                <input max="65535" min="0" type="number" id="porta" value="{{porta1}}" name="porta1" required>
            </div>
            <br></br>
            <div class="porta">
                <label for="porta2">2° Porta</label>
                <input max="65535" min="0" type="number" id="porta" value="{{porta2}}" name="porta2" required>
            </div>
            <br></br>
            <div class="botaoEnviar">
                <b><button>Testar</button></b>
            </div>
        </form>
        
        {% if statusIp %}

            <div class="status">
                <h3>{{statusIp}}</h3>
            </div>

        {% elif statusP1 and colorP1 %}

            <div class="status">
                <h3>Porta: <b>{{porta1}}</b><span style="color:{{ colorP1 }};"> {{statusP1}} </span></h3>
                <h3>Porta: <b>{{porta2}}</b><span style="color:{{ colorP2 }};"> {{statusP2}} </span></h3>

                {% if ip2 and ip2 not in ip %}
                    {% for rota in statusRota %}
                        <b><li class="rota">{{ rota }}</li></b>
                    {% endfor %}
                {% endif %}

            </div>

        {% endif %}

    </div>

{% endblock %}