body {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;

}

h1 {
    background-color: #fc7507;
    border: 2px solid #fc8607;
    color: white;
    font-size: 45px;
    width: 100%;
    text-align: center;
    padding: 10px;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;

}

.Entrada {
    margin-top: 300px;
    display: grid;
    align-items: center;
}




.TestePorta>a>button {
    background-color: #e3fc07;
    color: black;
    border: none;
    padding: 8px 35px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
}

.Dns>a>button {
    background-color: #e3fc07;
    color: black;
    border: none;
    padding: 8px 38px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
}