body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85vh;
}

#titulo {
    color: #fc8607;
    font-size: 40px;
    margin-top: 20px;
}

#porta {
    width: 22%;
}

.botaoEnviar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.botaoEnviar>b>button{
    background-color: #1eff00;
    color: black;
    border: none;
    padding: 5px 20px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
}

#porta {
    background-color: black;
    color: white;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-bottom: 2px solid rgb(172, 171, 171);
}

label {
    font-family: monospace;
}

input[type=text], input[type=number] {
    background-color: black;
    color: white;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rgb(172, 171, 171);
}

.status > .preStatus{
    display: inline;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.rota{
    font-family: Arial;
    font-size: 15px;
    list-style-type: none;
    color: white;
    width: 100%;
    border: none;
}

.statusPorta {
    min-width: 120px; 
    padding: 8px; 
    border-radius: 8px; 
    background: #222; 
    margin-bottom: 8px;
}

.statusPortaStr{
    color: #fc8607; 
    font-weight: bold;
}