body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

#titulo {
    color: #fc8607;
    font-size: 50px;
    margin-top: 20px;
}


.botaoEnviar>b>button {
    background-color: #1eff00;
    color: black;
    border: none;
    padding: 5px 20px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
}

.preStatus {
    overflow: auto;
    max-width: 80vw;
}

#porta {
    background-color: black;
    color: white;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-bottom: 2px solid rgb(172, 171, 171);
}
label{
    font-family: monospace;
}

input[type=text] {
    background-color: black;
    color: white;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rgb(172, 171, 171);
}

.status {
    text-align: center;
    align-items: center;
}
